
{{ define "header"}}
    <a class="sr-only" href="#content">Skip to main content</a>
    <header class="header-wrapper{{- with .Params.header_wrapper_class | default .Site.Params.header_wrapper_class }} {{ . }}{{end}}" id="header-wrapper">
      {{ partial "navbar.html" . }}
      {{ if isset .Page.Params "headline" }}
		<div class="jumbotron featured-jumbotron margin-bottom-0 padding-top-40">
		  <div class="container">
		    <div class="row">
		      <div class="col-xs-24 padding-top-40">
		        <h1>{{ .Page.Params.headline }}</h1>
		        <h2>Wednesday Sep 18th, 2019 | <a href="https://bayviewyards.org/">Innovation Centre at Bayview Yards</a>, Ottawa, Ontario</h2>
		      </div>
		    </div>
		  </div>
		</div>
	  {{ end }}
    </header>
{{ end }}

{{ define "main" }}
    <section class="container sponsor-images margin-bottom-40" id="sponsors">
        <div class="row">
            <h2 class="highlight left">Sponsored by</h2>
        </div>
        <ul class="list-inline text-center">
            <li>
                <a href="https://www.btadesignservices.com/" target="_blank" >
                    <img class="img img-responsive" src="/images/sponsors/bta-design-services.png" alt="BTA Design Services" title="BTA Design Services"/>
                </a>
            </li>
            <li>
                <a href="https://www.cmc.ca" target="_blank" >
                    <img class="img img-responsive" src="/images/sponsors/cmc-microsystems.png" alt="CMC Microsystems" title="CMC Microsystems"/>
                </a>
            </li>
            <li>
                <a href="https://www.openhwgroup.org/#core-v-family" target="_blank" >
                    <img class="img img-responsive" src="/images/sponsors/core-v.png" alt="Core-V" title="Core-V"/>
                </a>
            </li>
            <li>
                <a href="https://www.eclipse.org/" target="_blank" >
                    <img class="img img-responsive" src="/images/sponsors/eclipse-foundation.png" alt="Eclipse Foundation" title="Eclipse Foundation"/>
                </a>
            </li>
            <li>
                <a href="https://www.investottawa.ca/" target="_blank" >
                    <img class="img img-responsive" src="/images/sponsors/invest-ottawa.png" alt="Invest Ottawa" title="Invest Ottawa"/>
                </a>
            </li>
            <li>
                <a href="https://www.nxp.com/" target="_blank" >
                    <img class="img img-responsive" src="/images/sponsors/nxp.png" alt="Invest Ottawa" title="NXP Semiconductors"/>
                </a>
            </li>
            <li>
                <a href="https://www.openhwgroup.org" target="_blank" >
                    <img class="img img-responsive" src="/images/sponsors/openhw.png" alt="OpenHW Group" title="OpenHW Group"/>
                </a>
            </li>
        </ul>
    </section>

    <section class="container side-by-side" id="about">
        <div class="row">
            <div class="col-xs-24 margin-bottom-30">
                <h2 class="highlight left">About</h2>
                <img class="img img-responsive hidden-xs pull-right" src="/images/interior-venue.jpg" />
                <p>The Open Source Developer Forum is a one day workshop that
                        brings open source software and hardware (chips, boards and
                        systems) developers together to collaborate and learn. The agenda
                        for the day will be published shortly and will include talks from
                        leading industry and academic experts in the field of open source
                        development and will also include a hands on bring up session of a
                        RISC-V based development board that attendees can keep. Made
                        possible by the generous support of our sponsors, the OSDForum is
                        a non-profit event with low attendee fees of $50 for industry
                        attendees and $25 for academic attendees (includes the full day of
                        talks, breaks, lunch and a RISC-V development board).</p>
                <p><strong>Registration is limited, so don't delay - <a href="https://osdforum.eventbrite.com/" target="_blank">register today!</a></strong></p>
                <p>The OSDForum is co-hosted by the Eclipse Foundation, CMC Microsystem and the OpenHW Group.</p>
            </div>
            <div class="col-xs-24 visible-xs">
                <img class="img img-responsive" src="/images/interior-venue.jpg" />
            </div>
        </div>
    </section>
    
    <section class="solstice-banner alt" id="agenda">
        <div class="container">
            <div class="agenda-items">
                <h2>Agenda</h2>
                <p>To be announced</p>
                <!--  Kept for boilerplate later
                <div class="row agenda-item" >
                    <p class="col-xs-24 col-sm-6">9am - 9:45am</p>
                    <p class="col-xs-24 col-sm-6">Session Name</p>
                    <div class="col-xs-24 col-sm-12">
                        <p>Speaker: John Doe</p>
                        <p>Bio: Nam euismod molestie ornare. Donec ultricies consequat erat ut semper. Nullam purus ante, iaculis non luctus eget, blandit eu libero.</p>
                    </div>
                    <div class="clearfix" >&nbsp;</div>
                </div>
                <div class="row agenda-item" >
                    <p class="col-xs-24 col-sm-6">10am - 10:30am</p>
                    <p class="col-xs-24 col-sm-6">Session Name</p>
                    <div class="col-xs-24 col-sm-12">
                        <p>Speaker: John Doe</p>
                        <p>Bio: Nam euismod molestie ornare. Donec ultricies consequat erat ut semper. Nullam purus ante, iaculis non luctus eget, blandit eu libero.</p>
                    </div>
                    <div class="clearfix" >&nbsp;</div>
                </div>
                <div class="row agenda-item" >
                    <p class="col-xs-24 col-sm-6">11am - 11:40am</p>
                    <p class="col-xs-24 col-sm-6">Session Name</p>
                    <div class="col-xs-24 col-sm-12">
                        <p>Speaker: John Doe</p>
                        <p>Bio: Nam euismod molestie ornare. Donec ultricies consequat erat ut semper. Nullam purus ante, iaculis non luctus eget, blandit eu libero.</p>
                    </div>
                    <div class="clearfix" >&nbsp;</div>
                </div>
                <div class="row agenda-item" >
                    <p class="col-xs-24 col-sm-6">12pm - 1:30pm</p>
                    <p class="col-xs-24 col-sm-18">Lunch</p>
                    <div class="clearfix" >&nbsp;</div>
                </div> -->
            </div>
        </div>
    </section>
    
    <section class="container side-by-side" id="venue">
        <div class="row">
            <div class="col-xs-24 margin-bottom-30">
                <h2 class="highlight left">Venue</h2>
                <img class="img img-responsive hidden-xs pull-right" src="/images/venue.jpg" alt="Image of Bayview Yards exterior" title="Image of Bayview Yards exterior" />
                <p>Bayview Yards is a dynamic and energized hub that serves as basecamp for some of our greatest homegrown technology talent, capabilities and companies. It is the ultimate one-stop business acceleration shop and ‘mash-up’ of technical, business and market services, resources and expertise that helps entrepreneurs and companies launch, grow and thrive, and compete with anyone in the world.</p>
                <p>Bayview Yards<br />
                    7 Bayview Station Road<br />
                    Ottawa, ON K1Y 2C5</p>
            </div> 
            <div class="col-xs-24 visible-xs">
                <img class="img img-responsive" src="/images/venue.jpg" alt="Image of Bayview Yards exterior" title="Image of Bayview Yards exterior" />
            </div>
        </div>
    </section>
    
    <section class="solstice-banner alt text-center" id="save-the-date">
        <div class="container">
            <div class="row">
                <h2>Save the date!</h2>
                <p><a class="btn btn-secondary" href="https://osdforum.eventbrite.com/">Register Now!</a></p>
            </div>
        </div>
    </section>
{{ end }}