
{{ define "header"}}
    <a class="sr-only" href="#content">Skip to main content</a>
    <header class="header-wrapper{{- with .Params.header_wrapper_class | default .Site.Params.header_wrapper_class }} {{ . }}{{end}}" id="header-wrapper">
      {{ partial "navbar.html" . }}
      {{ if isset .Page.Params "headline" }}
		<div class="jumbotron featured-jumbotron margin-bottom-0 padding-top-40">
		  <div class="container">
		    <div class="row">
		      <div class="col-xs-24 padding-top-40">
		        <h1 class="sr-only">{{ .Page.Params.headline }}</h1>
		        <img class="img img-responsive margin-auto" alt="OSDForum Logo in white" src="/images/osdforum_white.png" />
		        <h2>Wednesday Sep 18th, 2019 | <a href="https://bayviewyards.org/">Innovation Centre at Bayview Yards</a>, Ottawa, Ontario</h2>
		      </div>
		    </div>
		  </div>
		</div>
	  {{ end }}
    </header>
{{ end }}

{{ define "main" }}
<div id="content">
    <section class="container sponsor-images" id="sponsors">
        <div class="row">
            <h2 class="highlight">Sponsored by</h2>
        </div>
        <ul class="list-inline text-center">
            <li>
                <a href="https://www.btadesignservices.com/" target="_blank" >
                    <img class="img img-responsive" src="/images/sponsors/bta-design-services.png" alt="BTA Design Services" />
                </a>
            </li>
            <li>
                <a href="https://www.cmc.ca" target="_blank" >
                    <img class="img img-responsive" src="/images/sponsors/cmc-microsystems.png" alt="CMC Microsystems" />
                </a>
            </li>
            <li>
                <a href="https://www.openhwgroup.org/#core-v-family" target="_blank" >
                    <img class="img img-responsive" src="/images/sponsors/core-v.png" alt="Core-V" />
                </a>
            </li>
            <li>
                <a href="https://www.eclipse.org/" target="_blank" >
                    <img class="img img-responsive" src="/images/sponsors/eclipse-foundation.png" alt="Eclipse Foundation" />
                </a>
            </li>
            <li>
                <a href="https://www.investottawa.ca/" target="_blank" >
                    <img class="img img-responsive" src="/images/sponsors/invest-ottawa.png" alt="Invest Ottawa" />
                </a>
            </li>
            <li>
                <a href="https://metrics.ca" target="_blank" >
                    <img class="img img-responsive" src="/images/sponsors/metrics.png" alt="Metrics" />
                </a>
            </li>
            <li>
                <a href="https://www.nxp.com/" target="_blank" >
                    <img class="img img-responsive" src="/images/sponsors/nxp.png" alt="NXP Semiconductors" />
                </a>
            </li>
            <li>
                <a href="https://www.openhwgroup.org" target="_blank" >
                    <img class="img img-responsive" src="/images/sponsors/openhw.png" alt="OpenHW Group" />
                </a>
            </li>
        </ul>
    </section>

    <section class="container side-by-side" id="about">
        <div class="row">
            <div class="col-xs-24 margin-bottom-30">
                <h2 class="highlight left">About OSDForum</h2>
                <img class="img img-responsive hidden-xs pull-right" src="/images/risc-v-board.jpg" alt="RISC-V dev board" />
                <p>The Open Source Developer Forum is a one workshop that brings open source SW and HW (chips, boards and systems) developers together to collaborate and learn. The OSDForum includes talks from leading industry and academic experts focused on IoT, Edge and Machine Learning development leveraging open source SW and HW building blocks. The agenda also includes a hands on bring up session using a <a href="https://open-isa.org/">RISC-V based development board</a> that attendees can keep. Made possible by the generous support of our sponsors, the OSDForum is a non-profit event with low attendee fees of $50 for industry attendees and $25 for academic attendees (includes the full day of talks, breaks, lunch and a RISC-V development board).</p>
                <p><strong>Registration is limited, so don't delay - <a href="https://osdforum.eventbrite.com/" target="_blank">register today!</a></strong></p>
                <p>The OSDForum is co-hosted by CMC Microsystem, the Eclipse Foundation and the OpenHW Group.</p>
            </div>
            <div class="col-xs-24 visible-xs">
                <img class="img img-responsive" src="/images/risc-v-board.jpg" alt="RISC-V dev board" />
            </div>
        </div>
    </section>
    
    <section class="solstice-banner alt" id="agenda">
        <div class="container">
            <h2>Agenda</h2>
	        <table class="table">
			    <colgroup>
			       <col span="1" style="width: 15%;">
			       <col span="1" style="width: 50%;">
			       <col span="1" style="width: 35%;">
			    </colgroup>
		        <thead>
		            <tr>
		                <th>Start time</th>
		                <th>Session Name</th>
		                <th>Presenter(s)</th>
		            </tr>
		        </thead>
		        <tbody>
		            {{ range $agendaItem:=$.Site.Data.agenda.items }}
		                <tr>
                            <td>{{ .start }}</td>
		                    <td>{{ if eq .handson true }}<strong>Hands-on: </strong>{{ end }}{{ .name }}</td>
		                    <td>
		                      {{ if (isset $agendaItem "presenter") }}
			                          <p>
                                {{ range $index, $p:=.presenter }}
                                    {{ $p.name }} (<em>{{ $p.affiliation }}</em>){{ if ne (add $index 1) (len $agendaItem.presenter) }}, {{ end }}
                                {{ end }}</p>
                              {{ end }}
		                    </td>
		                </tr>
		            {{ end }}
		        </tbody>
		   </table>
        </div>
    </section>
    
    <section class="container side-by-side" id="venue">
        <div class="row">
            <div class="col-xs-24 margin-bottom-30">
                <h2 class="highlight left">Venue</h2>
                <img class="img img-responsive hidden-xs pull-right" src="/images/venue.jpg" alt="Bayview Yards exterior" />
                <p>Bayview Yards is a dynamic and energized hub that serves as basecamp for some of our greatest homegrown technology talent, capabilities and companies. It is the ultimate one-stop business acceleration shop and ‘mash-up’ of technical, business and market services, resources and expertise that helps entrepreneurs and companies launch, grow and thrive, and compete with anyone in the world.</p>
                <p>Bayview Yards<br />
                    7 Bayview Station Road<br />
                    Ottawa, ON K1Y 2C5</p>
            </div> 
            <div class="col-xs-24 visible-xs">
                <img class="img img-responsive" src="/images/venue.jpg" alt="Bayview Yards exterior" />
            </div>
        </div>
    </section>
    
    <section class="solstice-banner alt text-center" id="save-the-date">
        <div class="container">
            <div class="row">
                <h2>Save the date!</h2>
                <p><a class="btn btn-secondary" href="https://osdforum.eventbrite.com/">Register Now!</a></p>
            </div>
        </div>
    </section>
</div>
{{ end }}