<section class="container side-by-side" id="about">
    <div class="row">
        <div class="col-xs-24 margin-bottom-30">
            <h2 class="highlight left">About OSDForum</h2>
            <div class="inline-image hidden-xs">
              <img class="img img-responsive hidden-xs pull-right" src="/images/risc-v-board.jpg" alt="RISC-V dev board" />
            </div>
            <p>The Open Source Developer Forum is a workshop that brings open source SW and HW (chips, boards and systems) developers together to collaborate and learn. The OSDForum includes talks from leading industry and academic experts focused on IoT, Edge and Machine Learning development leveraging open source SW and HW building blocks.</p>
            <p>The OSDForum is co-hosted by CMC Microsystem, the Eclipse Foundation and the OpenHW Group.</p>
        </div>
        <div class="col-xs-24 visible-xs">
            <img class="img img-responsive" src="/images/risc-v-board.jpg" alt="RISC-V dev board" />
        </div>
    </div>
</section>