<section class="container side-by-side" id="about">
    <div class="row">
        <div class="col-xs-24 margin-bottom-30">
            <h2 class="highlight left">About OSDForum</h2>
            <div class="inline-image hidden-xs">
            	<img class="img img-responsive hidden-xs pull-right" src="/images/risc-v-board.jpg" alt="RISC-V dev board" />
              <div class="clearfix"></div>
              <div class="image-caption text-center">RISC-V dev board attendees will keep</div>
            </div>
            <p>The Open Source Developer Forum is a workshop that brings open source SW and HW (chips, boards and systems) developers together to collaborate and learn. The OSDForum includes talks from leading industry and academic experts focused on IoT, Edge and Machine Learning development leveraging open source SW and HW building blocks. The agenda also includes a hands on bring up session using a <a href="https://open-isa.org/">RISC-V based development board</a> that attendees can keep. Made possible by the generous support of our sponsors, the OSDForum is a non-profit event with low attendee fees of $50 for industry attendees and $25 for academic attendees (includes the full day of talks, breaks, lunch and a RISC-V development board).</p>
            <p>The OSDForum is co-hosted by CMC Microsystem, the Eclipse Foundation and the OpenHW Group.</p>
        </div>
        <div class="col-xs-24 visible-xs">
            <img class="img img-responsive" src="/images/risc-v-board.jpg" alt="RISC-V dev board" />
            <div class="clearfix"></div>
            <div class="image-caption text-center">RISC-V dev board attendees will keep</div>
        </div>
    </div>
</section>