<section class="container side-by-side" id="venue">
    <div class="row">
        <div class="col-xs-24 margin-bottom-30">
            <h2 class="highlight left">Venue</h2>
            <div class="inline-image hidden-xs">
            	<img class="img img-responsive hidden-xs pull-right" src="/images/venue.jpg" alt="Bayview Yards exterior" />
            </div>
            <p>Bayview Yards is a dynamic and energized hub that serves as basecamp for some of our greatest homegrown technology talent, capabilities and companies. It is the ultimate one-stop business acceleration shop and ‘mash-up’ of technical, business and market services, resources and expertise that helps entrepreneurs and companies launch, grow and thrive, and compete with anyone in the world.</p>
            <p>Bayview Yards<br />
                7 Bayview Station Road<br />
                Ottawa, ON K1Y 2C5</p>
        </div> 
        <div class="col-xs-24 visible-xs">
            <img class="img img-responsive" src="/images/venue.jpg" alt="Bayview Yards exterior" />
        </div>
    </div>
</section>