<section class="container supporter-images" id="supporters">
    <div class="row">
        <h2 class="highlight">{{ .Get "label" | default "Sponsored By" }}</h2>
    </div>
    <ul class="list-inline text-center">
    	{{ $event:=.Get "event" }}
    	{{ range sort (index $.Site.Data.sponsors.events $event) "name"}}
        <li>
            <a href="{{ .url }}" target="_blank" >
                <img class="img img-responsive" src="{{.logo}}" alt="{{.name}}" />
            </a>
        </li>
        {{ end }}
    </ul>
</section>